# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\1 - Google Drive\Google Drive\Documents\2 - HEIG-VD\RES\Labos\LAB006_UPDOrchestra\Teaching-HEIGVD-RES-2021-Labo-Orchestra\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
